<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{htmlTitle pageTitle siteName}}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/dist.css" rel="stylesheet">
    <style type="text/css" media="screen">
      .business-header {
        background: url('{{{bannerImage}}}') center center no-repeat scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }
    </style>
		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script type="text/javascript">
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#872965"
      },
      "button": {
        "background": "#fff",
        "text": "#872965"
      }
    }
  })});
  </script>
	</head>
<body>

<!-- SITE SMARTMENUS Navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><span class="sr-only">{{siteName}}</span></a>
		</div>
    <div class="navbar-collapse collapse">
			<!-- Left nav -->
			<ul class="nav navbar-nav">
			{{{navigation.menu}}}
			</ul>
		</div>
  </div>
</div>
	<header class="business-header">
		<div class="title-wrapper {{titleClass}}">
			<div class="container">
				<div class="pad-layout">
					<div class="row">
							<div class="col-lg-12">
								<h1 class="tagline">{{{pageHeader pageTitle bannerTitle siteName}}}</h1>
								<!-- <hr /> -->
							</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<hr class="header-border" />
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
      <div class="container">
				<div class="top-margin"></div>
				<div class="pad-layout">
						{{{body}}}
				</div>
      </div>
			<div class="footer-wrap container">
				<div class="pad-layout text-center">
					<div id="footer">
						<p>&copy;{{date null format='YYYY'}} {{siteName}}</p>
						<p><a href="https://github.com/rogersillito/club-site-admin">Club Site Admin</a>:
							<span class="nowrap">Powered by
								<a href="http://keystonejs.com" target="_blank"><img src="/images/logo.svg" alt="Keystone.js" width="120"></a></span></p>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/bundles/shared{{jsBundleSuffix}}?v={{jsVersion}}"></script>
		<script type="text/javascript" src="/js/bundles/app{{jsBundleSuffix}}?v={{jsVersion}}"></script>
		{{{isAdminEditorJS user}}}
    <script type="text/javascript">
     var $buoop = {
       vs:{i:10,f:-4,o:-4,s:8,c:-4},
       api:4
       //,test:true
     };
      function $buo_f(){ 
        var e = document.createElement("script"); 
        e.src = "//browser-update.org/update.min.js"; 
        document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script> 
	</body>
</html>
