<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{htmlTitle pageTitle siteName}}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/dist.css" rel="stylesheet">
    <style type="text/css" media="screen">
      .business-header {
        background: url('{{{bannerImage}}}') center center no-repeat scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }
    </style>
		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#872965"
      },
      "button": {
        "background": "#fff",
        "text": "#872965"
      }
    }
  })});
  </script>
	</head>
	<body>

<!-- SITE SMARTMENUS Navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/"><span class="sr-only">{{siteName}}</span></a>
  </div>
    <div class="navbar-collapse collapse">

  <!-- Left nav -->
  <ul class="nav navbar-nav">
  {{{navigation.menu}}}
  </ul>
  </div>
  </div>
</div>
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <h1 class="tagline">{{{pageHeader pageTitle bannerTitle siteName}}}
                  </h1>
                </div>
            </div>
        </div>
    </header>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->

      <div class="container">
        {{{body}}}
      </div>
		</div>
		<div class="container text-center">
			<div id="footer">
        <p>&copy;{{date null format='YYYY'}} {{siteName}} 
					<p><a href="https://github.com/rogersillito/club-site-admin">Club Site Admin</a>:
						<span class="nowrap">Powered by <a href="http://keystonejs.com" target="_blank"><img src="/images/logo.svg" width="120"></a></span></p>
			</div>
		</div>
    <!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.8/react.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.8/react-dom.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script> -->
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
    <!-- 		<script src="/js/jquery/jquery-1.11.3.min.js"></script> -->
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
    <!-- 		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script> -->
		<script src="/js/site.min.js"></script>
		{{{isAdminEditorJS user}}}
    <script>
     var $buoop = {
       vs:{i:10,f:-4,o:-4,s:8,c:-4},
       api:4
       //,test:true
     };
      function $buo_f(){ 
        var e = document.createElement("script"); 
        e.src = "//browser-update.org/update.min.js"; 
        document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script> 
	</body>
</html>
