<div class="row">
{{#if galleries}}
	{{#each galleries}}
		<div class="col-sm-6">
				<div class="updates-list">
					<div class="well">
						<div class="row">
							<div class="col-sm-3 col-xs-2">
								{{#if img}}
									<div class="img-square">
										<a href="{{link}}">
											<img class="img img-responsive img-rounded" src="{{img}}" alt="Photograph from {{name}} gallery">
										</a>
									</div>
								{{else}}
									<div class="img img-responsive img-thumbnail text-center update-icon-wrapper">
										<a href="{{link}}">
										<span class="update-icon icon-images"></span>
										</a>
									</div>
								{{/if}}
							</div>
							<div class="col-sm-9 col-xs-10">
								<h4 class="media-heading margin-bottom-sm"><a href="{{link}}">{{name}}</a></h4>
								{{{description}}}
								<p class="date-updated text-muted"><small>Published: {{publishedDateString}}</small></p>
							</div>
						</div>
					</div>
				</div>
		</div>
	{{/each}}
{{else}}
	<div class="col-xs-12">
		<h3 class="text-muted">There are no image galleries yet.</h3>
	</div>
{{/if}}
</div>
