<div class="row">

	<div class="col-xs-12">
		<p><small><a href="/galleries"><i class="glyphicon glyphicon-arrow-left"></i> Back To All Galleries</a></small></p>
	</div>
	<div class="col-xs-12">
		<hr class="no-margin-top no-margin-bottom" />
	</div>

	{{#if description}}
		<div class="col-xs-12 margin-top-sm margin-bottom-lg">
			{{{description}}}
		</div>
	{{/if}}

	{{#if images}}
		<div class="col-xs-12">
			<h3>Gallery Images</h3>
		</div>
		{{#each images}}
			<div class="col-xs-6 col-sm-4 col-lg-3 margin-bottom-lg">
				<div class="square-thumb">
					<a href="{{large}}" data-toggle="lightbox" data-gallery="gallery" data-type="image">
						<img class="img img-responsive img-rounded" src="{{thumbnail}}" alt="Photograph from {{name}} gallery">
					</a>
				</div>
			</div>
		{{/each}}
	{{else}}
		<div class="col-xs-12">
			<h3 class="text-muted">There are no images in this gallery.</h3>
		</div>
	{{/if}}
	<div class="col-xs-12 margin-top-lg margin-bottom-lg">
		<p class="text-muted">
			<small>Published: {{publishedDateString}}</small>
		</p>
	</div>

</div>
