{{!< default}}
<div class="container">
  <div class="row">
<div class="col-sm-8">
{{{page.content}}}
</div>
<div class="col-sm-4">
<iframe height="454" width="100%" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.strava.com/clubs/lowfellrunningclub/latest-rides/a439e7555775c8730bd838ede5e1fd072fc300c3?show_rides=true"></iframe>
</div>
</div>
  <!-- /.row -->
  <hr>

<div class="row">
  <div class="col-sm-6">
    <!-- updates -->
    <p>TODO: styling - and add links!</p>
    {{# each whatsnew}}
    <div class="media">
      <div class="media-left" style="width: 5000px">
        <a href="#">
          <img class="media-object img-responsive img-rounded" src="{{img}}" alt="Photograph from {{toLowerCase type}} item '{{title}}'">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{title}}</h4>
        <span>{{type}}</span>
        {{{summaryHtml}}}
        <span>{{date}}</span>
      </div>
    </div>
    {{/each}}
    <!-- end: updates -->
  </div>
  <div class="col-sm-6">
https://getbootstrap.com/components/#media-default
  </div>
</div>
</div>
