{{!< default}}
<div class="container">
  <div class="row">
<div class="col-sm-8">
{{{page.content}}}
</div>
<div class="col-sm-4">
<iframe height="454" width="100%" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.strava.com/clubs/lowfellrunningclub/latest-rides/a439e7555775c8730bd838ede5e1fd072fc300c3?show_rides=true"></iframe>
</div>
</div>
  <!-- /.row -->
  <hr>

<div class="row">
  <div class="col-sm-6">
    <!-- updates -->
    <!-- end: updates -->
  </div>
  <div class="col-sm-6">
    <!-- updates -->
    <h3>What's New?</h3>
    <p>TODO: styling - and add links!</p>
      <div class="updates-list">
        {{#each whatsnew}}
        <div class="well">
          <div class="row">
            <div class="col-sm-3">
              {{#if img}}
              <div class="img-square">
                <a href="{{link}}">
                  <img class="img img-responsive img-rounded" src="{{img}}" alt="Photograph from {{toLowerCase type}} item '{{title}}'">
                </a>
              </div>
              {{else}}
               TODO!
              {{/if}}
            </div>
            <div class="col-sm-9">
              <h4 class="media-heading margin-bottom-sm"><a href="{{link}}">{{title}}</a> <small>{{type}}</small></h4>
              {{{summaryHtml}}}
              <p class="date-updated"><em>Updated: <strong>{{date}}</strong></em></p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    <!-- end: updates -->
  </div>
</div>
</div>
