{{!< default}}
  <div class="row">
		<div class="col-sm-8">
			<div class="row">
				<div class="col-xs-12 margin-bottom-sm">
					{{{page.content}}}
				</div>
			</div>
			{{!-- images --}}
			<div class="row margin-bottom-lg">
				<div class="col-xs-4 vcenter">
					<a href="https://www.sportenglandclubmatters.com/club-mark/"><img src="/images/clubmark-logo.png" class="img-responsive img-center"></a>
				</div><!--
		 --><div class="col-xs-4 vcenter">
					<a href="http://www.englandathletics.org/clubs--community/club-management/club-accreditation-clubmark"><img src="/images/england-athletics-logo.png" class="img-responsive img-center">
				</div><!--
		 --><div class="col-xs-4 vcenter">
					<a href="https://www.facebook.com/groups/121333983028/"><img src="/images/fb-findus-logo.png" class="img-responsive img-center"></a>
				</div>
			</div>
			{{!-- end: images --}}
		</div>
		<div class="col-sm-4 margin-bottom-lg">
			<iframe height="454" width="100%" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.strava.com/clubs/lowfellrunningclub/latest-rides/a439e7555775c8730bd838ede5e1fd072fc300c3?show_rides=true"></iframe>
		</div>
	</div>
  <!-- /.row -->
  <!-- <hr> -->

	<div class="row">
		<div class="col-sm-6">
			<!-- results -->
			<h3>Latest Results</h3>
				<div class="updates-list">
					{{#each latestResults}}
					<div class="well">
						<div class="row">
							<div class="col-sm-3 col-xs-2">
								<div class="img img-responsive img-thumbnail text-center update-icon-wrapper">
									<a href="{{link}}">
										<span class="update-icon icon-stopwatch"></span>
									</a>
								</div>
							</div>
							<div class="col-sm-9 col-xs-10">
								<h4 class="media-heading margin-bottom-sm"><a href="{{link}}">{{title}}</a> <small>Race Result</small></h4>
								<p class="text-muted"><small>{{resultDate}}</small></p>
								<p>
								{{#if hasResultsContent}}
									<span class="icon-file-empty"></span> <a href="{{link}}">Club Results</a>&nbsp;&nbsp;&nbsp;&nbsp
								{{/if}}
								{{#if fullResultsLink}}
									<span class="icon-link"></span> <a href="{{fullResultsLink}}" target="_blank" title="Opens in a new window">Full Results</a>
								{{/if}}
								</p>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			<!-- end: results -->
		</div>
		<div class="col-sm-6">
			<!-- updates -->
			<h3>What's New?</h3>
				<div class="updates-list">
					{{#each whatsnew}}
					<div class="well">
						<div class="row">
							<div class="col-sm-3 col-xs-2">
								{{#if img}}
									<div class="img-square">
										<a href="{{link}}">
											<img class="img img-responsive img-rounded" src="{{img}}" alt="Photograph from {{toLowerCase type}} item '{{title}}'">
										</a>
									</div>
								{{else}}
									<div class="img img-responsive img-thumbnail text-center update-icon-wrapper">
										<a href="{{link}}">
											<span class="update-icon {{iconClass}}"></span>
										</a>
									</div>
								{{/if}}
							</div>
							<div class="col-sm-9 col-xs-10">
								<h4 class="media-heading margin-bottom-sm"><a href="{{link}}">{{title}}</a> <small>{{type}}</small></h4>
								{{{summaryHtml}}}
								<p class="date-updated text-muted"><small>Published: {{updateDate}}</small></p>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			<!-- end: updates -->
		</div>
	</div>
