<div class="row">

	<div class="col-xs-6">
		<p>
			<small><a href="/posts/{{data.category.key}}"><i class="glyphicon glyphicon-arrow-left"></i> Back to all {{data.category.name}} posts</a></small>
		</p>
	</div>
	<div class="col-xs-6 text-right">
		<p class="text-muted">
			<small>{{{categoryList data.post.categories prefix="Posted in "}}}
			{{#if data.post.author.name.first}}by {{data.post.author.name.first}}{{/if}}</small>
		</p>
	</div>
	<div class="col-xs-12">
		<hr class="no-margin-top" />
	</div>

	<div class="col-sm-9">
			<div class="row">
				<div class="col-xs-12 margin-bttom-lg">

					{{{data.post.content.extended}}}
					{{{postContent data.post.content}}}
				</div>
				<div class="col-xs-12 margin-top-lg margin-bottom-lg">
					<p class="text-muted">
						<small>Published: {{data.post.publishedDateString}}</small>
					</p>
				</div>
			</div>
	</div>

	<div class="col-sm-3">
		<div class="row">
	  {{#each data.images}}
			<div class="col-xs-6 col-sm-12 margin-bottom-lg">
				<a href="{{large}}" data-toggle="lightbox" data-gallery="page.slug" data-type="image">
					<img src="{{thumbnail}}" class="img img-responsive img-thumbnail">
				</a>
			</div>
		{{/each}}
		</div>
	</div>

	</div>
</div>
