<div class="row">
	<div class="col-xs-12">
		<h2 class="no-margin-top">All {{data.category.name}} Posts</h2>
		<h4 class="text-weight-normal">Showing {{data.posts.results.length}} {{toLowerCase data.category.name}} posts.</h4>
		<div class="blog">
			{{# each data.posts.results}}
			<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
				<h3><a href="{{postUrl slug category}}">{{{title}}}</a></h3>
				<p class="lead text-muted"><small>{{{categoryList categories prefix="Posted in "}}}
						{{#if author.name.first}}by {{author.name.first}}{{/if}}</small>
				</p>
				<p>{{{content.summary}}}</p>
				<p class="read-more"><a href="{{postUrl slug category}}">Read more...</a></p>
			</div>
			{{/each}}
		</div>
		{{>pagination}}
	</div>
</div>
